streamlit==1.49.1
pandas==2.3.2
numpy==2.3.2
catboost==1.2.10
scikit-learn==1.9.0
shap==0.52.0
matplotlib==3.10.9
seaborn==0.13.2
plotly==6.8.0
openpyxl==3.1.5
gdown
requests==2.32.5
urllib3==2.5.0
watchdog==6.0.0
wcwidth==0.7.0
gdown
